<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Pierres Bakery</title>
    <link rel="stylesheet" href="~/css/bulma.css">
    <link rel="stylesheet" href="~/css/styles.css">
  </head>
  <body>
    <div class="container">
      @RenderBody()
    </div>
  </body>
</html>