<nav class="navbar" role="navigation" aria-label="main navigation">
	<div class="navbar-brand">
		<img class="navbar-item" src="~/img/pierre-icon.svg" height="30">
		<a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
			<span aria-hidden="true"></span>
			<span aria-hidden="true"></span>
			<span aria-hidden="true"></span>
		</a>
	</div>
	<div class="navbar-menu">
		<div class="navbar-start">
			<a class="navbar-item homeButton">
				@Html.ActionLink("Home", "Index", "Home")
			</a>
		</div>
		<div class="navbar-end">
			<div class="navbar-item">
				<div class="buttons">
					<partial name="_LoginPartial"/>
				</div>
			</div>
		</div>
	</div>
</nav>