@model PierresTreats.Models.Treat

@{
	ViewData["Title"] = "Delete Treat";
	ViewData["Footer"] = "Views / Treats / Delete Treat";
	Layout = "_Layout";
}

<h2>Are you sure you want to delete this?</h2>

<hr>

@Html.DisplayNameFor(model => model.TreatDescription): @Html.DisplayFor(model => model.TreatDescription)
@using (Html.BeginForm())
{
	<input type="submit" value="Delete" />
}
@Html.ActionLink("Back to List", "Index")